html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 15px;
  font-family: 'Spartan', sans-serif;
  font-weight: 500;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  background-image: url("../images/bg-pattern-top-desktop.svg"), url("../images/bg-pattern-bottom-desktop.svg");
  background-position: top left, bottom right;
  background-repeat: no-repeat;
}

.main {
  width: 1300px;
}

.main__top, .main__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.header__title {
  color: #502050;
  font-size: 3rem;
}

.header__sub {
  margin-top: 1rem;
  line-height: 1.5rem;
  color: #937b92;
}

.asides {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: #502050;
  font-weight: 700;
}

.asides__aside {
  text-align: right;
  background-color: #f7f2f7;
  border-radius: 10px;
  margin: 1rem;
  padding: 1.5rem;
}

.asides__aside-stars {
  position: relative;
  float: left;
  margin-right: 8em;
}

.asides__aside-stars::before {
  position: absolute;
  content: '';
  background: url("../images/icon-star.svg");
  width: 100px;
  height: 20px;
  background-repeat: space;
}

.asides__aside:first-child {
  margin-right: 8rem;
}

.asides__aside:nth-child(2) {
  margin-right: 4rem;
}

.card {
  background-color: #502050;
  border-radius: 10px;
  color: white;
  padding: 3rem;
  margin: 4rem 0;
  font-weight: 400;
  line-height: 1.5rem;
}

.card:nth-child(2) {
  margin: 2rem 2rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.card:nth-child(3) {
  margin: 0 0 1rem 0;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.card__header-img {
  width: 3rem;
  border-radius: 50%;
  float: left;
  margin: -0.3rem 2rem 0 0;
}

.card__header-name {
  font-size: 1rem;
  font-weight: 500;
}

.card__header-buyer {
  color: #ee68a4;
}

.card__quote {
  clear: left;
  margin-top: 2rem;
  color: #f7f2f7;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

@media only screen and (max-width: 1350px) {
  html {
    font-size: 90%;
  }
  .main {
    width: 900px;
  }
}

@media only screen and (max-width: 950px) {
  html {
    font-size: 80%;
  }
  body {
    background-image: url("../images/bg-pattern-top-mobile.svg");
  }
  .main {
    position: static;
    -webkit-transform: none;
            transform: none;
    text-align: center;
    margin: 5rem auto;
    width: 300px;
  }
  .main__top, .main__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .asides__aside {
    width: 300px;
    text-align: center;
  }
  .asides__aside:first-child, .asides__aside:nth-child(2), .asides__aside:last-child {
    margin-right: 1rem;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .asides__aside-stars {
    display: block;
    position: relative;
    bottom: 2rem;
    float: none;
    margin-top: 2rem;
    margin-bottom: 2.5rem;
  }
  .card {
    margin: 2rem 0;
    text-align: left;
  }
  .card:nth-child(2) {
    margin: 0 0;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .card:nth-child(3) {
    margin: 2rem 0;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}
/*# sourceMappingURL=style.css.map */