// Variables //

$magenta: rgb(80, 32, 80);
$pink: rgb(238, 104, 164);
$drk-gry-magenta: rgb(247, 242, 247);
$lgt-gry-magenta: rgb(147, 123, 146);
$white: white;

// Globals //

html {
  box-sizing: border-box;
  font-size: 15px;
  font-family: 'Spartan', sans-serif;
  font-weight: 500;
  height: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  min-height: 100%;
  background-image: url('/images/bg-pattern-top-desktop.svg'),
    url('/images/bg-pattern-top-desktop.svg');
  background-position: top left, bottom right;
  background-repeat: no-repeat;
}

.main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1300px;

  &__top,
  &__bottom {
    display: flex;
  }
}

.header {
  flex: 1;
  &__title {
    color: $magenta;
    font-size: 3rem;
  }

  &__sub {
    margin-top: 1rem;
    line-height: 1.5rem;
    color: $lgt-gry-magenta;
  }
}

.asides {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: $magenta;
  font-weight: 700;

  &__aside {
    text-align: right;
    background-color: $drk-gry-magenta;
    border-radius: 10px;
    margin: 1rem;
    padding: 1.5rem;
  }

  &__aside-stars {
    position: relative;
    float: left;
    margin-right: 8em;
  }

  &__aside-stars::before {
    position: absolute;
    content: '';
    background: url('/images/icon-star.svg');
    width: 100px;
    height: 20px;
    background-repeat: space;
  }

  &__aside:first-child {
    margin-right: 8rem;
  }

  &__aside:nth-child(2) {
    margin-right: 4rem;
  }
}

.card {
  background-color: $magenta;
  border-radius: 10px;
  color: white;
  padding: 3rem;
  margin: 4rem 0;
  font-weight: 400;
  line-height: 1.5rem;

  &:nth-child(2) {
    margin: 2rem 2rem;
    align-self: flex-end;
  }

  &:nth-child(3) {
    margin: 0 0 1rem 0;
    align-self: flex-end;
  }

  &__header-img {
    width: 3rem;
    border-radius: 50%;
    float: left;
    margin: -0.3rem 2rem 0 0;
  }

  &__header-name {
    font-size: 1rem;
    font-weight: 500;
  }

  &__header-buyer {
    color: $pink;
  }

  &__quote {
    clear: left;
    margin-top: 2rem;
    color: $drk-gry-magenta;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
